<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">订单列表</li>
        </ul><!-- /.breadcrumb -->
      </div>
      <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
        <ul class="nav nav-list header-nav" id="header-nav">
            <li>
                <a href="{:url('Dd/lister',array('status'=>1))}">
                  <o class="font12 {if condition='$status eq 1'} rigbg {/if}">待报价列表</o>
                </a>
              <b class="arrow"></b>
            </li>
            <li>
                <a href="{:url('Dd/lister',array('status'=>2))}">
                  <o class="font12 {if condition='$status eq 2'}  rigbg {/if}">待支付订单</o>
                </a>
              <b class="arrow"></b>
            </li>
            
            <li>
                <a href="{:url('Dd/lister',array('status'=>3))}">
                  <o class="font12 {if condition='$status eq 3'}  rigbg {/if}">已支付订单</o>
                </a>
              <b class="arrow"></b>
            </li>
        
            <li>
              <a href="{:url('Dd/lister',array('status'=>4))}">
                <o class="font12 {if condition='$status eq 4'}  rigbg {/if}">待下载订单</o>
              </a>
            <b class="arrow"></b>
          </li>

          <li>
              <a href="{:url('Dd/lister',array('status'=>5))}">
                <o class="font12 {if condition='$status eq 5'}  rigbg {/if}">已完成订单</o>
              </a>
            <b class="arrow"></b>
          </li>
                                
        </ul>
      </div>
    

      <div class="page-content">

        {include file="public:set"}

        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                  <div class="col-sm-4">
                    <!-- <button class="btn btn-success btn-white btn-bold" data-toggle="modal" data-target="#add">
                      <i class="ace-icon fa fa-plus icon-only"></i>
                      添加
                    </button>
                    <button id="change" class="btn btn-warning btn-white btn-bold">
                      <i class="fa fa-exchange"></i>
                      排序
                    </button> -->

                   
                  </div>

                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>       
                  <th>ID</th>
                  <th>订单名称</th>
                  <th>订单编号</th>
                  <th>专业领域</th>
                  <th>排版</th>   
                  <th>期望交稿时间</th>   
                  <th>姓名</th> 
                  <th>联系电话</th> 
                  <th>原文件</th> 
                  <th>下单时间</th>
                  {if condition="$status eq 2"}
                  <th>支付状态</th> 
                  {/if}
                  <th style="border-right:#ddd solid 1px;">操作</th>
                </tr>
                </thead>
           
                
                <tbody>
                {volist name="list" id="v"}
                
                <tr>
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                 
                  <td>{$v.langs}--目标语言:{$v.aim}[{$v.level}]</td>
                  <td>{$v.time}</td>
                  <td>{$v.major}</td>
                  <td>{if condition="$v.compos eq 1"}是 {else /} 否 {/if}</td>
                  <td>{$v.dates}</td>
                  <td>{$v.username}</td>
                  <td>{$v.phone}</td>
                  <td><a href="{$v.file}">点击下载</a></td>
                  <td>{$v.time|date="Y-m-d H:i:s",###}</td>
                  {if condition="$status eq 2"}
                  <td>
                    {if condition="$v.status_ding eq 0"}
                       未支付
                       {else /}
                       {if condition="$v.status_zhong eq 0"}

                        已付定金

                         {else /}
                          {if condition="$v.status_wan eq 0"}
                          已付中间款

                          {else /}

                          已付款

                          {/if}

                       {/if}
                    
                    {/if}
                    
                  </td>
                  {/if}
                  <td>
                      {if condition="$status eq 1 OR $status eq 2"}
                    <button class="btn btn-xs btn-info" type="button" onclick="ajaxQuery('__URL__/modifys',{$v.id},readData)">
                      报价
                    </button>
                    {/if}
                    {if condition="$status eq 3"}
                    <button class="btn btn-xs btn-info" type="button" onclick="ajaxQuery('__URL__/modifys',{$v.id},readDatas)">
                      上传文件
                    </button>
                    {/if}
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                      删除
                    </button>

                    <a class="btn btn-xs btn-success" href="{:url('Dd/looks',array('id'=>$v['id']))}">
                      查看详情
                    </a>
                    {if condition="$status eq 2"}
                    <button class="btn btn-xs btn-info" type="button" onclick="change({$v.id})">
                        确认付款
                      </button>
                    {/if}
                  </td>
                </tr>
                
                 {/volist}
                 {empty name="list"}<tr><td colspan="15" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                <div class="text-center">
                  {$page}
                </div>
       
              </table>
            
            </div>
            <!-- PAGE CONTENT BEGINS -->

            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
  <!-- Modal -->
  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加</h4>
        </div>
  <form id="modal-form" class="form-horizontal" action="{:url('Dd/save')}" method="post" enctype="multipart/form-data">
        
        <div class="modal-body">

            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right" for="">总价</label>
              <div class="col-sm-8">
                <input id="money" class="form-control" type="number" min="0.01" step="0.01" name="money" required>
              </div>

            </div>  

            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="">定金</label>
                <div class="col-sm-8">
                  <input id="money_ding" class="form-control" type="number" step="0.01" min="0.01" name="money_ding" required>
                </div>
  
              </div>  

              <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right" for="">中间款</label>
                  <div class="col-sm-8">
                    <input id="money_zhong" class="form-control" type="number" step="0.01" min="0.01" name="money_zhong" required>
                  </div>
    
                </div>  

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="">尾款</label>
                    <div class="col-sm-8">
                      <input id="money_wan" class="form-control" type="number" step="0.01" min="0.01" name="money_wan" required>
                    </div>
      
                  </div>  
         
          
        
            <input id="id" name="id" type="hidden">

           
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button  type="submit" class="btn btn-primary">保存</button>
        </div>
         </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加</h4>
          </div>
    <form id="modal-form" class="form-horizontal" action="{:url('Dd/usave')}" method="post" enctype="multipart/form-data">
          
          <div class="modal-body">
  
              <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right" for="">翻译文件</label>
                  <div class="col-xs-8">
                      
                    <input multiple="" type="file" id="pic" name="image" />
               
                   <div class="red">请上传格式为zip或rar小于10M的文件</div>
                  </div>
                </div>
            
               
              <input id="ids" name="id" type="hidden">
  
             
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button  type="submit" class="btn btn-primary">保存</button>
          </div>
           </form>
        </div>
      </div>
    </div>

  {include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


<!-- inline scripts related to this page -->
<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })

 
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
         type:"post",
         url:"{:url('Dd/delete')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 1){
              layer.msg("删除成功");
              setTimeout('location.reload()',2000)
            }else{
              layer.msg("删除失败");
              setTimeout('location.reload()',2000)
            }
         }
      })
		  });
      }
      function change(id){
			layer.confirm('你确定此订单已付款吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
         type:"post",
         url:"{:url('Dd/change')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 1){
              layer.msg("操作成功");
              setTimeout('location.reload()',2000)
            }else{
              layer.msg("操作失败");
              setTimeout('location.reload()',2000)
            }
         }
      })
		  });
	    }
		</script>
<script>
$(function(){
	$('.form-horizontal').ajaxForm({
		beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
		success: complete, // 这是提交后的方法
		dataType: 'json'
	});
	
	function checkForm(){
	  
		
    }

	function complete(data){
		if(data.code==1){
			layer.alert(data.msg, {icon: 6}, function(index){
 			layer.close(index);
 			location.reload()
			});
			
		}else{
			layer.alert(data.msg, {icon: 5}, function(index){
 			layer.close(index);
 			location.reload()
			});
			
		}
	}
 
});

</script>

  <script>
    $(function () {
      $('#pic').ace_file_input({
        style: 'well',
        btn_choose: '翻译文件',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        thumbnail: 'fit'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error: function (filename, error_code) {
          //name of the file that failed
          //error_code values
          //1 = 'FILE_LOAD_FAILED',
          //2 = 'IMAGE_LOAD_FAILED',
          //3 = 'THUMBNAIL_FAILED'
          //alert(error_code);
        }

      }).on('change', function (e) {
    	  console.log(e.target.value)
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
      });

     
    });

    //向模态框写入数据
    function readData(data) {
      $(".modal-title").text('报价');
      $("#id").val(data.id);
  
      $("#money").val(data.money);
      $("#money_ding").val(data.money_ding);
      $("#money_zhong").val(data.money_zhong);
      $("#money_wan").val(data.money_wan);
      $('#add').modal('show');
    }
    function readDatas(data) {
      $(".modal-title").text('上传文件');
      $("#ids").val(data.id);
  
      $('#adds').modal('show');
    }

    function gs() {
      console.log(1)
    }
    $("#change").click(function(){
      $("#sortForm").submit();
     

    })
    
    
    //bs模态框关闭事件回调函数
    $('#add').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal-form').get(0).reset();
  $(".modal-title").text('添加');
  
  $("#id").val("");
	})
  </script>
</body>
</html>
