<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">舞者列表</li>
        </ul><!-- /.breadcrumb -->
      </div>
      <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
        <ul class="nav nav-list header-nav" id="header-nav">
            <li>
                <a href="{:url('Dancer/lister',array('status'=>2))}">
                  <o class="font12 {if condition='$status eq 2'} rigbg {/if}">舞者列表</o>
                </a>
              <b class="arrow"></b>
            </li>
            <li>
                <a href="{:url('Dancer/lister',array('status'=>1))}">
                  <o class="font12 {if condition='$status eq 1'}  rigbg {/if}">申请列表</o>
                </a>
              <b class="arrow"></b>
            </li>
            
            <li>
                <a href="{:url('Dancer/lister',array('status'=>3))}">
                  <o class="font13 {if condition='$status eq 3'}  rigbg {/if}">已驳回列表</o>
                </a>
              <b class="arrow"></b>
            </li>
       
                                
        </ul>
      </div>
    

      <div class="page-content">

        {include file="public:set"}

        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                  <div class="col-sm-4">
                      {if condition="$status eq 2 "}
                    <a class="btn btn-success btn-white btn-bold" href="{:url('Dancer/add')}">
                      <i class="ace-icon fa fa-plus icon-only"></i>
                      添加
                    </a>
                    <button id="change" class="btn btn-warning btn-white btn-bold">
                      <i class="fa fa-exchange"></i>
                      排序
                    </button>
                     {/if}
                   
                  </div>

                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>   
                    {if condition="$status eq 2 "}
                  <th class="hidden-480">排序</th>  
                  {/if}  
                  <th>姓名</th>
                  <th>手机号码</th>
                  <th>性别</th>
                  <th>出生年月</th>
                  <th>所在地区</th>   
                  <th>申请时间</th>
                  <th style="border-right:#ddd solid 1px;">操作</th>
                </tr>
                </thead>
           
                <form id="sortForm" action="__URL__/sort" method="post"> 
                <tbody>
                {volist name="list" id="v"}
                
                <tr>
                    {if condition="$status eq 2 "}  
                  <td class="hidden-480"><input class="input-small" type="number" name="{$v.id}" value="{$v.sort}"></td>
                  {/if}
                  <td>{$v.username}</td>
                 
                  <td>{$v.phone}</td>
                  <td>{$v.sex}</td>
                  <td>{$v.birth}</td>
                  <td>{$v.addr}</td>
                 
                
                  <td>{$v.time|date="Y-m-d H:i:s",###}</td>
                  
                  
                  <td>
                      {if condition="$status eq 1 "}
                      <button class="btn btn-xs btn-info" type="button" onclick="change({$v.id})">
                        通过
                      </button>
                      <button class="btn btn-xs btn-danger" type="button" onclick="changes({$v.id})">
                        驳回
                      </button>
                    {/if}
                    <a class="btn btn-xs btn-success" href="{:url('Dancer/looks',array('id'=>$v['id']))}">
                      查看详情
                    </a>
                    {if condition="$status eq 2 "}
                    <a class="btn btn-xs btn-success" href="{:url('Dancer/modify',array('id'=>$v['id']))}">
                      修改
                    </a>
                    {/if}
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                      删除
                    </button>

                 
                 
                  </td>
                </tr>
                
                 {/volist}
                 {empty name="list"}<tr><td colspan="15" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                </form>
                <div class="text-center">
                  {$page}
                </div>
       
              </table>
            
            </div>
            <!-- PAGE CONTENT BEGINS -->

            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
  


  {include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


<!-- inline scripts related to this page -->
<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })

 
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
         type:"post",
         url:"{:url('Dancer/deletes')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 0){
              layer.msg("删除成功");
              setTimeout('location.reload()',1000)
            }else{
              layer.msg("删除失败");
              setTimeout('location.reload()',1000)
            }
         }
      })
		  });
      }
      function change(id){
			layer.confirm('你确定通过吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
         type:"post",
         url:"{:url('Dancer/tong')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 0){
              layer.msg("操作成功");
              setTimeout('location.reload()',2000)
            }else{
              layer.msg("操作失败");
              setTimeout('location.reload()',2000)
            }
         }
      })
		  });
	    }
      function changes(id){
			layer.confirm('你确定驳回吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
         type:"post",
         url:"{:url('Dancer/bo')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 0){
              layer.msg("操作成功");
              setTimeout('location.reload()',2000)
            }else{
              layer.msg("操作失败");
              setTimeout('location.reload()',2000)
            }
         }
      })
		  });
	    }
		</script>
<script>
$(function(){
	$('.form-horizontal').ajaxForm({
		beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
		success: complete, // 这是提交后的方法
		dataType: 'json'
	});
	
	function checkForm(){
	  
		
    }

	function complete(data){
		if(data.code==1){
			layer.alert(data.msg, {icon: 6}, function(index){
 			layer.close(index);
 			location.reload()
			});
			
		}else{
			layer.alert(data.msg, {icon: 5}, function(index){
 			layer.close(index);
 			location.reload()
			});
			
		}
	}
 
});

</script>

  <script>
    $(function () {
      $('#pic').ace_file_input({
        style: 'well',
        btn_choose: '翻译文件',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        thumbnail: 'fit'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error: function (filename, error_code) {
          //name of the file that failed
          //error_code values
          //1 = 'FILE_LOAD_FAILED',
          //2 = 'IMAGE_LOAD_FAILED',
          //3 = 'THUMBNAIL_FAILED'
          //alert(error_code);
        }

      }).on('change', function (e) {
    	  console.log(e.target.value)
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
      });

     
    });

    //向模态框写入数据
    function readData(data) {
      $(".modal-title").text('报价');
      $("#id").val(data.id);
  
      $("#money").val(data.money);
      $("#money_ding").val(data.money_ding);
      $("#money_zhong").val(data.money_zhong);
      $("#money_wan").val(data.money_wan);
      $('#add').modal('show');
    }
    function readDatas(data) {
      $(".modal-title").text('上传文件');
      $("#ids").val(data.id);
  
      $('#adds').modal('show');
    }

    function gs() {
      console.log(1)
    }
    $("#change").click(function(){
      $("#sortForm").submit();
     

    })
    
    
    //bs模态框关闭事件回调函数
    $('#add').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal-form').get(0).reset();
  $(".modal-title").text('添加');
  
  $("#id").val("");
	})
  </script>
</body>
</html>
