<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">提现申请列表</li>
        </ul>

      </div>

      <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
            <ul class="nav nav-list header-nav" id="header-nav">
                    <li>
                            <a href="{:url('Cashs/lister')}">
                                <o class="font12 {if condition='$status eq 0 '} rigbg {/if}">申请列表</o>
                            </a>
                        <b class="arrow"></b>
                    </li>
                    <li>
                            <a href="{:url('Cashs/lister',array('status'=>1))}">
                                <o class="font12 {if condition='$status eq 1'}  rigbg {/if}">通过列表</o>
                            </a>
                        <b class="arrow"></b>
      </li>
      
      <li>
                            <a href="{:url('Cashs/lister',array('status'=>2))}">
                                <o class="font12 {if condition='$status eq 2 '}  rigbg {/if}">驳回列表</o>
                            </a>
                        <b class="arrow"></b>
                    </li>
            

                                                            
            </ul>
        </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                <div class="col-sm-4">
              <!--  <a class="btn btn-success btn-white btn-bold" href="{:url('Shop/add')}">
                  <i class="ace-icon fa fa-plus icon-only"></i>
                  添加</a>
                 <button id="change" class="btn btn-warning btn-white btn-bold">
                  <i class="fa fa-exchange"></i>
                  排序
                </button> 
                <button class="btn btn-danger btn-white btn-bold del-btn">
                  <i class="ace-icon fa fa-trash-o icon-only"></i>
                  删除
                </button>-->
                </div>

                <!-- <div class="col-sm-8 clearfix">
                  <form class="form-inline pull-right" action="">
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
											<i class="fa fa-th-list"></i>
										</span>
                        <select class="form-control" name="" id="">
                          <option selected value="">分类</option>
                          <option value="">asdasd</option>
                          <option value="">asdasd</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
											<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
										</span>
                        <input type="text" class="form-control" value="" placeholder="点击选择日期范围" name="date-range-picker"
                               id="id-date-range-picker-1">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-check"></i>
									</span>
                        <input type="text" name="key" id="key" class="form-control search-query" value="" placeholder="请输入需查询的关键字">
                        <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                      </div>
                    </div>
                  </form>
                </div> -->
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                 
                  <th>ID</th>
                  <th>用户名称</th>
                  <th>申请金额(元)</th>
                  <!-- <th>手续费(元)</th>
                  <th>应打款金额(元)</th> -->
                  <th>账号信息</th>
                  <th>申请时间</th>
           
                
                  <th style="border-right:#ddd solid 1px;width:13%;" >操作</th>
                </tr>
                </thead>
                <!-- <form id="sortForm" action="{:url('Goods/sort')}" method="post">  -->
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                 
                  <td><span class="badge badge-grey">{$v.mid}</span></td>
                  <td>{$v.username}</td>
                  
                  <td>{$v.moneys}</td>
                  <!-- <td>{$v.proce}</td>
                  <td>{$v.money}</td> -->
                  <td>{$v.content}</td>
                  <td>{$v.time|date="Y-m-d H:i:s",###}</td>
                 
                            
                  <td>
                    {if condition="$status eq 0 "}
                    <a class="btn btn-xs btn-info" onclick="change({$v.mid})">
                      确认打款
                    </a>
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.mid})">
                      驳回
                    </button>
                    {/if}
                    {if condition="$status eq 1 "}
                    <span class="btn btn-xs btn-info" >
                      已转账
                    </span>
                    
                    {/if}
                    {if condition="$status eq 2 "}
                   
                    <span class="btn btn-xs btn-danger" >
                      已驳回
                    </span>
                    {/if}
                  </td>
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                <!-- </form> -->
              </table>
              <div class="text-center">
                {$page}
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

 {include file="public:header"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定驳回吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/changet/id/"+id;
		  });
	    }
		</script>
<script>
function change(id){
			layer.confirm('确定已打款？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/change/id/"+id;
		  });
	    }
</script>


  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
