<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
    <!--头部-->
    {include file="public:nav"}

    <div class="main-container ace-save-state" id="main-container">
        <!--菜单-->
        <script type="text/javascript">
            try {
                ace.settings.loadState('main-container')
            } catch (e) {}
        </script>

        {include file="public:left"}

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="{:url('Index/index')}">首页</a>
                        </li>
                        <li class="active">修改信息</li>
                    </ul><!-- /.breadcrumb -->

                </div>

                <div class="page-content">

                    {include file="public:set"}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-10 col-sm-offset-1">
                                <form id="logoForm" class="form-horizontal" action="{:url('Member/usave')}" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="widget-box transparent">
                                                <div class="widget-header widget-header-flat">
                                                    <h4 class="widget-title"><i class="ace-icon fa fa-leaf green"></i>会员信息</h4>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="widget-main">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">推荐人</label>
                                                            <div class="col-sm-10">
                                                             <?php $pid=$re['pid']; $user=db("user")->where("uid=$pid")->find();?>
                                                                <input class="form-control typeahead" type="text" name="pid"  value="{$user.u_name}"
                                                                placeholder="请输入会员名，可为空">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <label class="col-sm-2 control-label no-padding-right" for="">等级</label>
                                                              <div class="col-sm-10">
                                                                <select class="form-control" name="level" >
                                                                  
                                                                  <option value="1" {if condition="$re.level eq 1"}selected{/if} >1</option>
                                                                  <option value="2" {if condition="$re.level eq 2"}selected{/if} >2</option>
                                                                  <option value="3" {if condition="$re.level eq 3"}selected{/if} >3</option>
                                                                  <option value="4" {if condition="$re.level eq 4"}selected{/if} >4</option>
                                                                  <option value="5" {if condition="$re.level eq 5"}selected{/if} >5</option>
                                                                  <option value="6" {if condition="$re.level eq 6"}selected{/if} >6</option>
                                                                </select>
                                                              </div> 
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">会员名</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="text" name="u_name" value="{$re.u_name}"
                                                                placeholder="请输入会员名" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">登录密码</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="text" name="u_pwd" placeholder="请输入登录密码">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">二级密码</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="text" placeholder="请输入二级密码" name="u_pwds">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">手机号码</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="text" placeholder="请输入手机号码" name="u_phone" value="{$re.u_phone}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">微信号</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="text" placeholder="请输入微信号" name="u_wx" value="{$re.u_wx}">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">支付宝号</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="text" placeholder="请输入支付宝号" name="u_alipay" value="{$re.u_alipay}">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label no-padding-right" for="">是否激活</label>
                                                            <label style="padding-top: 8px">
                                                                <input name="u_status" class="ace ace-switch ace-switch-6" type="checkbox" {if condition="$re.u_status eq 1"}checked{/if} />
                                                                <span class="lbl"></span>
                                                              </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input name="uid" type="hidden" value="{$re.uid}" />
                                            <button class="btn btn-info" type="submit">
                                                <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                                                保存
                                            </button>
                                            <a class="btn" href="{:url('Member/lister')}">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                返回
                                            </a>
                                        </div>
                                    </div>
                                </form>
                                <!-- PAGE CONTENT BEGINS -->
                            </div>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

       {include file="public:footer"}

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->


    <script>
        jQuery(function ($) {
            $('[data-rel=tooltip]').tooltip();

            $("#hide-option").tooltip({
                hide: {
                    effect: "explode",
                    delay: 250
                }
            });

        })
    </script>


    <script>
        $(function () {
            $('#thumb').ace_file_input({
                style: 'well',
                btn_choose: '封面图',
                btn_change: null,
                no_icon: 'ace-icon fa fa-picture-o',
                droppable: true,
                thumbnail: 'fit' //large | fit
                    //,icon_remove:null//set null, to hide remove/reset button
                    /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
                    /**,before_remove : function() {
						return true;
					}*/
                    ,
                preview_error: function (filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function () {
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });

            $("#article").ajaxForm({
                // url: 'links.html',
                // type: 'post',
                // success: fun
            })
        });

        //响应请求回调
        function fun() {

        }
    </script>
    <script>
        $(function () {
            $('#logoForm').ajaxForm({
                beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
                success: complete, // 这是提交后的方法
                dataType: 'json'
            });

            function checkForm() {


            }

            function complete(data) {
                if (data.status == 1) {
                    layer.alert(data.msg, {
                        icon: 5
                    }, function (index) {
                        layer.close(index);
                        window.location.href = data.url;
                    });

                } else {
                    layer.alert(data.msg, {
                        icon: 6
                    }, function (index) {
                        layer.close(index);
                        window.location.href = data.url;
                    });

                }
            }

        });
    </script>
   <script>
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;
         
            // an array that will be populated with substring matches
            matches = [];
         
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');
         
            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    // the typeahead jQuery plugin expects suggestions to a
                    // JavaScript object, refer to typeahead docs for more info
                    matches.push({ value: str });
                }
            });

            cb(matches);
        }
     }
    
     var test = {$data};

     $('input.typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
     }, {
        name: 'states',
        displayKey: 'value',
        source: substringMatcher(test),
        limit: 10
     });
    </script> 
</body>

</html>