<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">列表</li>
        </ul><!-- /.breadcrumb -->
      </div>

      <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
        <ul class="nav nav-list header-nav" id="header-nav">
            <li>
                <a href="{:url('Join/index')}">
                  <o class="font12 {if condition='$status eq 0'} rigbg {/if}">申请列表</o>
                </a>
              <b class="arrow"></b>
            </li>
            <li>
                <a href="{:url('Join/index',array('status'=>1))}">
                  <o class="font12 {if condition='$status eq 1'}  rigbg {/if}">完成列表</o>
                </a>
              <b class="arrow"></b>
            </li>
      
        

                                
        </ul>
      </div>

      <div class="page-content">

        {include file="public:set"}

        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                

                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  
                  <th>ID</th>
                  
                  <th>岗位名称</th>
                  <th>用户姓名</th>
                  <th>电话</th>
                  <th class="hidden-480">附件</th>
                  <th>提交时间</th>
                  <th style="border-right:#ddd solid 1px;">操作</th>
                </tr>
                </thead>
           
                
                <tbody>
                {volist name="list" id="v"}
                
                <tr>
                  
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                 
                  
                  <td>{$v.name}</td>
                  <td>{$v.username}</td>
                  <td>{$v.phone}</td>
                  <td class="hidden-480"><a href="{$v.file_name}">点击下载</a></td>
                  <td class="hidden-480">{$v.time|date="Y-m-d H:i:s",###}</td>
                  <td>
                    {if condition="$status eq 0"}
                    <button class="btn btn-xs btn-info" type="button" onclick="dels({$v.id})">
                      <i class="ace-icon fa fa-check bigger-120"></i>
                    </button>
                    {/if}
                    <button class="btn btn-xs btn-danger" type="button" onclick="del({$v.id})">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                  </td>
                </tr>
                
                 {/volist}
                 {empty name="list"}<tr><td colspan="11" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
              
              </table>
              <div class="text-center">
                <ul class="pagination">
                  {$page}
                </ul>
              </div>
            </div>
            <!-- PAGE CONTENT BEGINS -->

            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
  <!-- Modal -->
 

  {include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


<!-- inline scripts related to this page -->
<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })

 
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定完成吗？', {icon: 3}, function(index){
		    layer.close(index);
        $.ajax({
         type:"post",
         url:"{:url('Join/changes')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 0){
              layer.msg("操作成功");
              setTimeout('location.reload()',2000)
            }else{
              layer.msg("操作失败");
              setTimeout('location.reload()',2000)
            }
         }
      })
		  });
	    }
      function del(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
        $.ajax({
         type:"post",
         url:"{:url('Join/deletes')}",
         data:{id:id},
         success:function(re)
         {
            if(re == 0){
              layer.msg("操作成功");
              setTimeout('location.reload()',2000)
            }else{
              layer.msg("操作失败");
              setTimeout('location.reload()',2000)
            }
         }
      })
		  });
	    }
		</script>
<script>
$(function(){
	$('#modal-form').ajaxForm({
		beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
		success: complete, // 这是提交后的方法
		dataType: 'json'
	});
	
	function checkForm(){
	  
		
    }

	function complete(data){
		if(data.status==1){
			layer.alert(data.msg, {icon: 5}, function(index){
 			layer.close(index);
 			window.location.href=data.url;
			});
			
		}else{
			layer.alert(data.msg, {icon: 6}, function(index){
 			layer.close(index);
 			window.location.href=data.url;
			});
			
		}
	}
 
});

</script>
<script>
function change(id){
	$.ajax({
		type:"post",
		url:"__URL__/change",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}

</script>
  <script>
    $(function () {
      $('#pic').ace_file_input({
        style: 'well',
        btn_choose: '图片',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        thumbnail: 'fit'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error: function (filename, error_code) {
          //name of the file that failed
          //error_code values
          //1 = 'FILE_LOAD_FAILED',
          //2 = 'IMAGE_LOAD_FAILED',
          //3 = 'THUMBNAIL_FAILED'
          //alert(error_code);
        }

      }).on('change', function (e) {
    	  console.log(e.target.value)
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
      });

     
    });

    //向模态框写入数据
    function readData(data) {
      $(".modal-title").text('修改');
      $("#id").val(data.id);
      $("#fid").val(data.pid);
      $("#name").val(data.name);
      $("#sex").val(data.sex);
      $("#url").val(data.price);
     
      editor.ready(function() {
        editor.setContent(data.content);
});
      //$(".desc").html(data.desc);
      $("#image").attr('src',data.image);
      $('#add').modal('show');
    }

    function gs() {
      console.log(1)
    }
    $("#change").click(function(){
    	$("#sortForm").submit();
    })
    
    
    //bs模态框关闭事件回调函数
    $('#add').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal-form').get(0).reset();
  $(".modal-title").text('添加');
  editor.ready(function() {
        editor.setContent('');
});
  $("#image").attr('src','');
  $("#id").val("");
	})
  </script>
</body>
</html>
